.article {
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;

    &__text-wrapper {
        flex: 1;
    }

    &__image-wrapper {
        flex: 0 0 20%;
        margin-left: 1rem;
    }

    &__category {
        font-size: 1.2rem;
        font-weight: 700;
        color: red;
        text-transform: uppercase;
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: .8rem;
    }
    &__time {
        margin-bottom: .8rem;
    }
    
    &__summary {
        font-size: 1.4rem;
    }
    &__image {
        border-radius: 5px;
    }
}