.article {
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    border: 1px solid var(--color-light-grey);
    border-radius: 10px;
    cursor: pointer;

    &:hover &__title {
        text-decoration: underline;
        color: var(--color-blue);
    }

    &__text-wrapper {
        flex: 1;
    }

    &__image-wrapper {
        flex: 0 0 20%;
        margin-left: 2rem;
    }

    &__header {
        font-size: 1.2rem;
        color: rgb(95, 99, 104);
        margin-bottom: .5rem;
    }

    &__section {
        font-weight: 700;
        color: var(--color-red);
        text-transform: uppercase;
    }
    &__time {
        &::before {
            content: " ∙ ";
        }
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: .8rem;
    }
   
    
    &__summary {
        font-size: 1.4rem;
    }
    &__image {
        border-radius: 5px;
        width: 21rem;
        height: 14rem;
    }
    &__no-image {
        text-transform: uppercase;
    }
}