.topnav {
    display: flex;
    font-size: 1.6rem;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0, .1);

    &__logo {
        margin-right: auto;
        cursor: pointer;
        margin-left: 2rem;
        &:hover {
            background-color: var(--color-light-grey);
            border-radius: 10px;
        }
        &.home {
            font-size: 2rem;
        }
    }

    &__items {
        list-style: none;
        display: flex;
    }

    &__item {
        text-transform: uppercase;
        margin: 0 2rem 0 2rem;
        cursor: pointer;

        a:hover {
            color: var(--color-blue);
            border-bottom: 1px solid var(--color-blue);
        }

        &-active {
            font-weight: 600;
        }
    }

    .btn {
        color: inherit;
        width: 2.2rem;
        font-size: 1.6rem;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: var(--color-light-grey);
            border-radius: 10px;
        }
    }
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    border-radius: 100px;
    padding: .5rem 2rem;
    color: inherit;
    border: none;
    margin-left: .5rem;
    width: 80%;

    &:focus {
        outline: none;
        background-color: var(--color-light-grey);
    }
}