.topnav {
    display: flex;
    font-size: 1.6rem;
    padding: 3rem;

    &__logo {
        margin-right: auto;
    }

    &__items {
        list-style: none;
        display: flex;
    }

    &__item {
        margin: 0 2rem 0 2rem;
        cursor: pointer;
    }

    .btn-picker {
        font-size: 1.6rem;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}